@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
  user-select: none;
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: default;
  pointer-events: none;
  box-shadow: none;
}
